html, body {
	min-height: 500px;
	height: 100%;
	margin:0;
	padding:0;
	width:100%;
	color:#383D43;
  font-family: 'Roboto-Light';
	font-size:12px;
}

* {
	min-width: 0;
	min-height: 0;
}

body {
  background: #4568dc; /* Old browsers */
  background: -moz-linear-gradient(top, #4568dc 0%, #f3c4ee 100%, #f3c4ee 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #4568dc 0%,#f3c4ee 100%,#f3c4ee 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4568dc 0%,#f3c4ee 100%,#f3c4ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4568dc', endColorstr='#f3c4ee',GradientType=0 ); /* IE6-9 */
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf')  format('truetype'), url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf')  format('truetype'), url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 26px;
  text-align: center;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
	max-width: 1200px;
}

.container-fluid {
  height: 100%;
}

.text {
  font-family: 'Roboto-Light';
  font-size: 26px;
  color: #fff;
	margin-bottom: 15px;
	img {
		display: inline-block;
	}
	span {
		font-weight: bold;
	}
	.description {
		padding-bottom: 20px;
	}
	a {
		background-color: #2597f7;
		color: #fff;
		padding: 8px 40px;
		border-radius: 40px;
		text-decoration: none;
		font-size: 18px;
		font-weight: bold;
		box-shadow: 0px 15px 20px rgba(37, 151, 247, 0.4);
		outline: none;
		-webkit-transform: perspective(1px) translateZ(0);
		transform: perspective(1px) translateZ(0);
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-property: transform;
		transition-property: transform;
		display: inline-block;
		&:hover {
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}
	}
}

.launch {
  height: 100%;
}

.fade img {
	display: inline-block;
	width: 100%;
	max-width: 500px;
	margin-top: 20px;
}
